#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.posts {
  list-style-type: none;
  padding: 0px;
  text-align: left;
}

.post {
  border-radius: 8px;
  margin-bottom: 16px;
  border: 1px solid white;
}

.post p:first-of-type {
  padding: 8px;
  border-bottom: 1px solid white;
}

.post p {
  margin: 0;
  padding: 16px 8px;
}

.group {
  gap: 8px;
  display: flex;
  text-align: left;
  flex-flow: column;
  margin-bottom: 8px;
}

.btn {
  display: flex;
  margin-top: 16px;
  flex-flow: column;
}

.btn button {
  margin-left: auto;
}
